<h1>Navigation</h1>
<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/documentation">Swagger Documentation</a></li>
  <li><a href="/about">About</a></li>
  <li><a href="/nes">NES websocket</a></li>
  <li><a href="/404">404 page</a></li>
  <li><a href="/cache/123">cache powered by cat-box redis</a></li>
  <li><a href="/upload">Upload image</a></li>
  <li>Auth
    <ul>
      <li><a href="/bell">Login with Bell</a></li>
    </ul>
  </li>
</ul>
