<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Error 404</title>
</head>

<body>
  <h1>Error 404!</h1>
  <p>
    Custom page for handling 404s.
  </p>
  <p><a href="/">Home page</a></p>
</body>

</html>
