<hr>

<h3>Server caching w/ Redis</h3>

<ul>
  <li>
    <a href="/cache/123">/cache/123</a>
  </li>
  <li>
    <a href="/cache/">/cache/</a> missing params, defaults to 9000</li>
  </li>
  <li>
    <a href="/cache/9000">/cache/9000</a> default params</li>
  </li>
  <li>
    <a href="/cache/1">/cache/1</a>
  </li>
  <li>
    <a href="/cache/2">/cache/2</a>
  </li>
  <li>
    <a href="/cache/@google">/cache/@google</a>
  </li>
  <li>
    <a href="/cache/^*@(!'weird-values')">
      <code>/cache/^*@(!'weird-values')</code>
    </a>
  </li>
</ul>

<h3>Server Cache Result</h3>
<p>
  <strong>Cached TTL</strong>
</p>

<p>{{{date cached.ttl}}}</p>

<pre>{{{json cached}}}</pre>

<p>
  <strong>Report</strong>
</p>

<pre>{{{json report}}}</pre>

{{#if user}}
  <h3>Result</h3>
  <pre>{{{json user}}}</pre>
{{/if}}
