<hr>
<div id="js">
  <h3>WebSocket via Nes</h3>

  <h4>Subscription</h4>

  <table>
    <tr>
      <td>
        <p>
          <code>Nes.subscribe(/time)</code>
        </p>
      </td>
      <td>
        <pre id="time"></pre>
      </td>
    </tr>
    <tr>
      <td>
        <p>
          <code>Nes.subscribe(/item/5)</code>
        </p>
      </td>
      <td>
        <pre id="item5"></pre>
      </td>
    </tr>
  </table>

  <div>
    <input type="text" name="path" placeholder="Path: /item/5" id="path" value="hello">
    <button id="nRequest">client.request</button>
    <p>Can be `route.config.id` or `route.path`</p>
    <hr>
  </div>

  <h4>more nes</h4>

  <button id="getClientId">client.id</button>
  <button id="nMessage">client.message()</button>
  <button id="requestPing" data-path="/v2/api/ping">client.request('/v2/api/ping')</button>
  <button id="getSubscriptions">client.subscriptions()</button>
  <button id="unsub">Unsubscribe /item/5</button>
  <p>Result</p>
  <pre id="printResult" style="margin-bottom: 20em;"></pre>
</div>
