<h3>Upload image file</h3>
<form action="/upload" method="POST" enctype="multipart/form-data">
  <input type="file" name="file" accept="image/*" multiple>
  <button type="submit">Submit</button>
</form>

{{#if success}}
  <hr>
  {{#if raw.length}}
    {{!-- mutiple uploads--}}
    {{#each raw}} {{!-- loop  --}}
      <h3>Item #{{incr @index}}</h3>
      {{#if this.isRejected}}
        {{!-- show errors instead of img --}}
        <p>{{this.reason.message}}</p>
      {{else}}
        <div>
          <img width="200" height="200" src="{{this.value.publicPath}}" /> <br>
          <p>URL: <code> {{this.value.publicPath}}</code></p>
        </div>
      {{/if}}
    {{/each}}
  {{else}}
    {{!-- single upload --}}
    <div>
      <img width="200" height="200" src="{{raw.publicPath}}" />
      <p><code>File uploaded to: {{raw.publicPath}}</code></p>
    </div>
  {{/if}}
  <hr>
  <h3>Debug</h3>
  <pre>{{{json raw}}}</pre>
{{/if}}

{{#if error}}
  <p>Error: {{errorMsg}}</p>
{{/if}}
